.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}
.body{
  width: 80%;
  align-items: center;
}

.banner{
  width: 100%;
  position: relative;

}

.img{
  border-radius: 1rem;
  overflow: hidden;
}


.countries{
  margin: 5rem 0;
  width: 100%;
  /* background-color: cyan; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* margin-bottom: 20rem; */
}

.countriestext{
  width: 50%;
  /* background-color: white; */
  color: rgb(17, 17, 91);
  margin: 2rem 0;

}

.countriescontainer{
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}


.recent{
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  /* display: flex; */
}

.btnrow{
  display: flex;
  width: 100%;
  /* margin: 1rem; */
  justify-content: space-between;
}

.recentlayout{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}
 
.recom{
    width: 100%;
  }

  .recomtext{
    margin: 1rem;
  }

  .recomtext h1{
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  .recomtext p{
    margin: 1rem 0;
    line-height: 1.2;
  }

  .cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: space-between; */
  }

  .display{
    
    width: 100%;
    /* border: 1px solid black; */
    margin: 5rem 0;
    display:flex;
    justify-content: space-between;
  }

  .displayimg{
    width: 50%;
    position: relative;
  }
  

.recomrow{
  display:flex ;
  justify-content:space-between ;
  align-items:center;
}

.recomrow p{
  width: 40ch;
}

  .displaytext{
    width: 50%;
    text-align: left;
    padding: 2rem;
  }


@media (width < 1000px)
{
  .display{
    flex-direction: column;
    align-items: center ;
  }

  .displaytext{
    width: 100%;
  }

  .displayimg{
    width: 100%;
    height: 50vh;
    margin: 0 auto;
  }

}

  @media (width <= 800px){
    .body{
      width: 100%;
    }

    .img{
      overflow: visible;
    }

    .countries{
      /* margin: 5rem 0; */
      width: 100%;
      /* background-color: cyan; */
      display: flex;
      flex-direction: column;
      
      text-align: center;
      align-items: center;
      /* margin-bottom: 20rem; */
    }
    
    .countriestext{
      width: 100%;
      /* background-color: white; */
      color: rgb(17, 17, 91);
      margin: 2rem 0;
    
    }
    
    .countriescontainer{
      margin: 2rem 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
    }

    .btnrow{
      padding: 0 1rem;
    }

    .recomrow{
      flex-direction: column;
    }

    .recomrow p {
      width: auto;
    }
    
  }